*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 500px;
    width: 700px;
    margin: 1em;
    background: url('https://images.pexels.com/photos/3566226/pexels-photo-3566226.jpeg') center no-repeat scroll;
    background-size: contain;
}